

/* src/App.css */
.app {
  transition: background-color 0.3s, color 0.3s;
  height: 500vh;
  display: flex;
  flex-direction: column;
}
/* _____________ bg image ________________*/
.app.light {
  background-image: url('https://img.freepik.com/premium-vector/blue-background-abstract-wavy-curve-lines_998164-37.jpg?w=1060');  /* Ensure this path is correct */
  background-size: 100%; /* Change to auto if you want it to repeat */
  background-repeat: repeat; /* This will repeat the background image */
  background-position: center; /* Positioning */
  color: #000000; /* Dark text */
}

.app.dark {
  background-color: #040404; /* Dark background */
  color: #ffffff; /* Light text */
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}


/* App.css */
.component-container {
  position: relative;
  transition: transform 0.15s ease-in-out;
}
